body {
  color: white;
  margin: 0;
  font-family: 'Roboto Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171219;
}

a, a:hover,.logout-btn{
  color: white !important;
  font-size: 20px !important;
}
a:hover,.logout-btn:hover{
  text-decoration: underline !important;
}

.home-img{
  height: 40%;
  width: 40%;
}

.logo{
  width: 50px;
  height: 50px;
}

.navbar{
  background-color: #0A2239;
}

.home-container, .login-container, .register-container{
  border-radius: 15px;
  margin: 30px;
  padding: 30px;
  background: #11151C;
}

.home-auth-btn{
  border: none;
  min-width: 150px;
  margin: 50px;
}

.logout-btn,.logout-btn:hover{
  background: rgba(0, 0, 0, 0);
  border: none;
}

.friend-list-item,.request-list-item{
  font-size: 20px;
  margin: 30px;
  padding: 30px;
  border-radius: 15px;
  background-color: #161b22;
}

.chat-head{
  background-color: #093741;
  padding: 15px;
}

.msg-input {
  border: 5px solid #4793ff;
  position:fixed;
  right: 0px;
  left:0px;
  bottom:0px;
  border-radius: 0%;
  z-index: 100;
}
.msg-btn{
  border-radius: 0%;
}

.self-msg{
  background-color: skyblue;
  border-color: #93c5fc;
}

.msg-contaienr{
  bottom: 140px;
  z-index: -1;
}
#bottom{
  margin-top: 115px;
}